ficheros_conf/2 Sensores Valores Aleatorios y rangos OK.json
[
    {
        "id": "f817f6a7671b1a08",
        "type": "tab",
        "label": "Keyrock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92d8fd98132b13ea",
        "type": "tab",
        "label": "IoT Agent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7054fec8bee5107d",
        "type": "tab",
        "label": "Orion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2bc450449f3a8cef",
        "type": "telegram bot",
        "botname": "t.me/Proyectosco_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99aebcd78c1fc320",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "flow variables",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "68.221.171.63",
                "vt": "str"
            },
            {
                "p": "keyrock_puerto",
                "v": "3005",
                "vt": "str"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "tutorial-dckr-site-0000-xpresswebapp",
                "vt": "str"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "tutorial-dckr-site-0000-clientsecret",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "8404c4b135ff9b53"
            ]
        ]
    },
    {
        "id": "8404c4b135ff9b53",
        "type": "change",
        "z": "f817f6a7671b1a08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keyrock_ip",
                "pt": "flow",
                "to": "keyrock_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_puerto",
                "pt": "flow",
                "to": "keyrock_puerto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_oauth2_client_id",
                "pt": "flow",
                "to": "keyrock_oauth2_client_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keyrock_oauth2_client_secret",
                "pt": "flow",
                "to": "keyrock_oauth2_client_secret",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fadcbbf828cf1cc6",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "OAuth2 Token",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fa076214d57930e",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "659f04d50c1867aa",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token: admin",
        "info": "",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "ba12e026049f5d61",
        "type": "comment",
        "z": "f817f6a7671b1a08",
        "name": "Get OAuth2 token: admin (permanent)",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "3f2e59a1bcd6c4d1",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "execute request",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "keyrock_ip",
                "vt": "flow"
            },
            {
                "p": "keyrock_puerto",
                "v": "keyrock_puerto",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "keyrock_oauth2_client_id",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "keyrock_oauth2_client_secret",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "username=admin@test.com&password=test&grant_type=password",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "cf62b1799b4e981f"
            ]
        ]
    },
    {
        "id": "aa5edb83c0162e6d",
        "type": "inject",
        "z": "f817f6a7671b1a08",
        "name": "execute request",
        "props": [
            {
                "p": "keyrock_ip",
                "v": "keyrock_ip",
                "vt": "flow"
            },
            {
                "p": "keyrock_puerto",
                "v": "keyrock_puerto",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_id",
                "v": "keyrock_oauth2_client_id",
                "vt": "flow"
            },
            {
                "p": "keyrock_oauth2_client_secret",
                "v": "keyrock_oauth2_client_secret",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "username=admin@test.com&password=test&grant_type=password&scope=permanent",
        "payloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "cf62b1799b4e981f"
            ]
        ]
    },
    {
        "id": "cf62b1799b4e981f",
        "type": "http request",
        "z": "f817f6a7671b1a08",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{keyrock_oauth2_client_id}}}:{{{keyrock_oauth2_client_secret}}}@{{{keyrock_ip}}}:{{{keyrock_puerto}}}/oauth2/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "c24d14ef18de6f27"
            ]
        ]
    },
    {
        "id": "c24d14ef18de6f27",
        "type": "json",
        "z": "f817f6a7671b1a08",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "6076f249899ffa4b",
                "cb3fcb269600653a"
            ]
        ]
    },
    {
        "id": "6076f249899ffa4b",
        "type": "debug",
        "z": "f817f6a7671b1a08",
        "name": "get oauth2 token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb3fcb269600653a",
        "type": "change",
        "z": "f817f6a7671b1a08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oauth2-token",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "afda95cebe7746db",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "flow variables",
        "props": [
            {
                "p": "iota_ip",
                "v": "68.221.171.63",
                "vt": "str"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "4041",
                "vt": "str"
            },
            {
                "p": "iota_puerto_datos",
                "v": "7896",
                "vt": "str"
            },
            {
                "p": "orion_puerto",
                "v": "1026",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "health_monitor",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            },
            {
                "p": "api_key",
                "v": "34879",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "7a94521ccf179fd6"
            ]
        ]
    },
    {
        "id": "7a94521ccf179fd6",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "iota_ip",
                "pt": "flow",
                "to": "iota_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_gestion",
                "pt": "flow",
                "to": "iota_puerto_gestion",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iota_puerto_datos",
                "pt": "flow",
                "to": "iota_puerto_datos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "api_key",
                "pt": "flow",
                "to": "api_key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "orion_puerto",
                "pt": "flow",
                "to": "orion_puerto",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f4c27a7741969a",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Services",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "16c338400db86c19",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Get services",
        "info": "",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "a69434ddc5e040ea",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "10f08a66cf41e5b5"
            ]
        ]
    },
    {
        "id": "10f08a66cf41e5b5",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "dfe50a4f024c0c11"
            ]
        ]
    },
    {
        "id": "dfe50a4f024c0c11",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "6f7381788c9295a7"
            ]
        ]
    },
    {
        "id": "6f7381788c9295a7",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "get services",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "c157c73d38697fe2",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Create services",
        "info": "",
        "x": 180,
        "y": 300,
        "wires": []
    },
    {
        "id": "d98453ced16c3a00",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"services\":[{\"apikey\":\"34879\",\"cbroker\":\"https://68.221.171.63:1026\",\"entity_type\":\"Sensor\",\"resource\":\"/iot/json\"}]}",
        "payloadType": "json",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "bcb967bbe5180d32"
            ]
        ]
    },
    {
        "id": "bcb967bbe5180d32",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "13e8d9d188e778ea"
            ]
        ]
    },
    {
        "id": "8c99d36725dfef8e",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "61b84aa178332fca"
            ]
        ]
    },
    {
        "id": "61b84aa178332fca",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "create services",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "13e8d9d188e778ea",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "61b84aa178332fca"
            ],
            [
                "8c99d36725dfef8e"
            ]
        ]
    },
    {
        "id": "1f6be9ff9e76f8ee",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete service",
        "info": "",
        "x": 170,
        "y": 620,
        "wires": []
    },
    {
        "id": "8f8bd3fb4a121d10",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "resource",
                "v": "/iot/json",
                "vt": "str"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "f5251f619e6f3e0d"
            ]
        ]
    },
    {
        "id": "f5251f619e6f3e0d",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services/?resource={{{resource}}}&apikey={{{api_key}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "2091039f17f2fcc4"
            ]
        ]
    },
    {
        "id": "56381319bfcdbe75",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "b79f69b92cd07dcb"
            ]
        ]
    },
    {
        "id": "b79f69b92cd07dcb",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete service",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "2091039f17f2fcc4",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "b79f69b92cd07dcb"
            ],
            [
                "56381319bfcdbe75"
            ]
        ]
    },
    {
        "id": "3ffc03a4698aa4bb",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Devices",
        "info": "",
        "x": 110,
        "y": 780,
        "wires": []
    },
    {
        "id": "864320f45b85e04f",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Get devices",
        "info": "",
        "x": 170,
        "y": 820,
        "wires": []
    },
    {
        "id": "92bdc6e458edf227",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "b8741209fb59e72f"
            ]
        ]
    },
    {
        "id": "b8741209fb59e72f",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 860,
        "wires": [
            [
                "16f5721e7bbd7477"
            ]
        ]
    },
    {
        "id": "16f5721e7bbd7477",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 860,
        "wires": [
            [
                "b96cc9d6823ff655"
            ]
        ]
    },
    {
        "id": "b96cc9d6823ff655",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "get devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "55e6da5ea007dff7",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Create devices",
        "info": "",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "b09fb42b25c80308",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devices\":[{\"device_id\":\"sensor001\",\"entity_name\":\"urn:ngsi-ld:Sensor:001\",\"entity_type\":\"Sensor\",\"transport\":\"HTTP\",\"attributes\":[{\"object_id\":\"glucose_001\",\"name\":\"glucoseLevel\",\"type\":\"Number\"},{\"object_id\":\"battery_001\",\"name\":\"battery\",\"type\":\"Number\"}]},{\"device_id\":\"sensor002\",\"entity_name\":\"urn:ngsi-ld:Sensor:002\",\"entity_type\":\"Sensor\",\"transport\":\"HTTP\",\"attributes\":[{\"object_id\":\"glucose_002\",\"name\":\"glucoseLevel\",\"type\":\"Number\"},{\"object_id\":\"battery_002\",\"name\":\"battery\",\"type\":\"Number\"}]}]}",
        "payloadType": "json",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "910e41bf82b438a0"
            ]
        ]
    },
    {
        "id": "910e41bf82b438a0",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "5a924d66d96828e6"
            ]
        ]
    },
    {
        "id": "e7b76bb6f5b7392b",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1020,
        "wires": [
            [
                "57ca771fa2d33763"
            ]
        ]
    },
    {
        "id": "57ca771fa2d33763",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "create devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 980,
        "wires": []
    },
    {
        "id": "5a924d66d96828e6",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "57ca771fa2d33763"
            ],
            [
                "e7b76bb6f5b7392b"
            ]
        ]
    },
    {
        "id": "fe690796cfab3f25",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete devices",
        "info": "",
        "x": 180,
        "y": 1500,
        "wires": []
    },
    {
        "id": "02585d670356c2aa",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor001",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "ae02c784ab5505f5"
            ]
        ]
    },
    {
        "id": "ae02c784ab5505f5",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/devices/{{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 410,
        "y": 1600,
        "wires": [
            [
                "9fccb76d487e1355"
            ]
        ]
    },
    {
        "id": "0fd8bff55fa49e4e",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 1640,
        "wires": [
            [
                "307ab2c17874330c"
            ]
        ]
    },
    {
        "id": "307ab2c17874330c",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9fccb76d487e1355",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1600,
        "wires": [
            [
                "307ab2c17874330c"
            ],
            [
                "0fd8bff55fa49e4e"
            ]
        ]
    },
    {
        "id": "190fba59b83122fa",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete device: sensor001",
        "info": "",
        "x": 210,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1d00429a9d2c90c5",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor002",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "ae02c784ab5505f5"
            ]
        ]
    },
    {
        "id": "11a0fbe2030b62e6",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete device: sensor002",
        "info": "",
        "x": 210,
        "y": 1660,
        "wires": []
    },
    {
        "id": "469b25b5a007d452",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Update devices",
        "info": "",
        "x": 180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9447ebf1741a1cac",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor001",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"glucose_001\":0,\"battery_001\":50}",
        "payloadType": "json",
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "5675bfe9d2cea6cb"
            ]
        ]
    },
    {
        "id": "a979b20a7b5672ec",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "bcd885fa6993b402"
            ]
        ]
    },
    {
        "id": "c01e70fc451af416",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 1220,
        "wires": [
            [
                "20b49813fd8b3f91"
            ]
        ]
    },
    {
        "id": "20b49813fd8b3f91",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bcd885fa6993b402",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1180,
        "wires": [
            [
                "20b49813fd8b3f91"
            ],
            [
                "c01e70fc451af416"
            ]
        ]
    },
    {
        "id": "6e0fa1035c157295",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Valores aleatorios glucosa y batería Sensor 1",
        "info": "",
        "x": 270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0676e8974314834c",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor002",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"glucose_002\":0,\"battery_002\":50}",
        "payloadType": "json",
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "51ed3345ee58e0a7"
            ]
        ]
    },
    {
        "id": "32dbbe4b64bcb3df",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 610,
        "y": 1380,
        "wires": [
            [
                "a5967ce22ebdec24"
            ]
        ]
    },
    {
        "id": "a09a2d87a00a243d",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 1420,
        "wires": [
            [
                "165ee383cfc8dc52"
            ]
        ]
    },
    {
        "id": "165ee383cfc8dc52",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "update devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a5967ce22ebdec24",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "165ee383cfc8dc52"
            ],
            [
                "a09a2d87a00a243d"
            ]
        ]
    },
    {
        "id": "f484a019722523a7",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Valores aleatorios glucosa y batería Sensor 2",
        "info": "",
        "x": 270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d1b393f505c05540",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Inject permanent key to service",
        "info": "",
        "x": 230,
        "y": 460,
        "wires": []
    },
    {
        "id": "3396a78f4d1baf2f",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_gestion",
                "v": "iota_puerto_gestion",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "resource",
                "v": "/iot/json",
                "vt": "str"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t    \"cbroker\": \"https://68.221.171.63:1026\",\t    \"trust\": $globalContext(\"oauth2-token\")\t}",
        "payloadType": "jsonata",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "7fdc4439958bdb13"
            ]
        ]
    },
    {
        "id": "7fdc4439958bdb13",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_gestion}}}/iot/services/?resource={{{resource}}}&apikey={{{api_key}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "3af0ac09d8e2fc51"
            ]
        ]
    },
    {
        "id": "184d09ddccd6a54f",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "1f0ea1c816ef4e66"
            ]
        ]
    },
    {
        "id": "1f0ea1c816ef4e66",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "inject permanent key to service",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "3af0ac09d8e2fc51",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "1f0ea1c816ef4e66"
            ],
            [
                "184d09ddccd6a54f"
            ]
        ]
    },
    {
        "id": "b78c8858f0667366",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Subscriptions",
        "info": "",
        "x": 150,
        "y": 1720,
        "wires": []
    },
    {
        "id": "73a809b17ba04c51",
        "type": "http in",
        "z": "92d8fd98132b13ea",
        "name": "",
        "url": "/orion/updates",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1760,
        "wires": [
            [
                "86d19bd5d0e5b9df",
                "f44554a83168223d"
            ]
        ]
    },
    {
        "id": "86d19bd5d0e5b9df",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "subscription update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9540f42b339daa37",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Get subscriptions",
        "info": "",
        "x": 160,
        "y": 1840,
        "wires": []
    },
    {
        "id": "6047d44412d50154",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "b9a1ba315668d89b"
            ]
        ]
    },
    {
        "id": "b9a1ba315668d89b",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{orion_puerto}}}/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 390,
        "y": 1880,
        "wires": [
            [
                "9831999718ae9e38"
            ]
        ]
    },
    {
        "id": "9831999718ae9e38",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 1880,
        "wires": [
            [
                "980e69349f8ab340",
                "48115c62517dbaff"
            ]
        ]
    },
    {
        "id": "980e69349f8ab340",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "get subscriptions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1880,
        "wires": []
    },
    {
        "id": "cd64dbbbf56bf4fe",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Create subscriptions",
        "info": "",
        "x": 170,
        "y": 2000,
        "wires": []
    },
    {
        "id": "d699eb8397d801e7",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"description\":\"Notify me of all glucoseLevel and battery changes\",\"subject\":{\"entities\":[{\"idPattern\":\"urn:ngsi-ld:Sensor:.*\",\"type\":\"Sensor\"}],\"condition\":{\"attrs\":[\"glucoseLevel\",\"battery\"]}},\"notification\":{\"http\":{\"url\":\"https://68.221.171.63:1880/orion/updates\"},\"attrs\":[\"glucoseLevel\",\"battery\"]},\"expires\":\"2026-12-31T23:59:59.00Z\",\"throttling\":1}",
        "payloadType": "json",
        "x": 180,
        "y": 2040,
        "wires": [
            [
                "276bc9705fbcf2a6"
            ]
        ]
    },
    {
        "id": "276bc9705fbcf2a6",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{orion_puerto}}}/v2/subscriptions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 390,
        "y": 2040,
        "wires": [
            [
                "c941eabe5298bc53"
            ]
        ]
    },
    {
        "id": "ad99d2d1baea0918",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 2080,
        "wires": [
            [
                "135bfd97965603e6"
            ]
        ]
    },
    {
        "id": "135bfd97965603e6",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "create subscriptions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2040,
        "wires": []
    },
    {
        "id": "c941eabe5298bc53",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 2040,
        "wires": [
            [
                "135bfd97965603e6"
            ],
            [
                "ad99d2d1baea0918"
            ]
        ]
    },
    {
        "id": "b7957f86ee12b572",
        "type": "comment",
        "z": "92d8fd98132b13ea",
        "name": "Delete subscription",
        "info": "",
        "x": 170,
        "y": 2160,
        "wires": []
    },
    {
        "id": "ac4ee5a54de24bc2",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "subscription_id",
                "v": "subscription_id",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 2200,
        "wires": [
            [
                "c2985cdb1eb81e70"
            ]
        ]
    },
    {
        "id": "c2985cdb1eb81e70",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{orion_puerto}}}/v2/subscriptions/{{{subscription_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            }
        ],
        "x": 390,
        "y": 2200,
        "wires": [
            [
                "59320b20da178e84"
            ]
        ]
    },
    {
        "id": "b0ab9461e66b3d36",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 2240,
        "wires": [
            [
                "c072e8ae7b5cc278"
            ]
        ]
    },
    {
        "id": "c072e8ae7b5cc278",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete subscription",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2200,
        "wires": []
    },
    {
        "id": "59320b20da178e84",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 2200,
        "wires": [
            [
                "c072e8ae7b5cc278"
            ],
            [
                "b0ab9461e66b3d36"
            ]
        ]
    },
    {
        "id": "48115c62517dbaff",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$count($.payload) and \"id\" in $keys($.payload[0])\t",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 1920,
        "wires": [
            [
                "479f14fdc6c4b91f"
            ]
        ]
    },
    {
        "id": "479f14fdc6c4b91f",
        "type": "change",
        "z": "92d8fd98132b13ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "subscription_id",
                "pt": "flow",
                "to": "payload[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "f44554a83168223d",
        "type": "function",
        "z": "92d8fd98132b13ea",
        "name": "function 1",
        "func": "const sensorData = msg.payload.data[0]; // Extrae los datos del primer sensor\nconst glucose = sensorData.glucoseLevel.value; // Nivel de glucosa\nconst battery = sensorData.battery.value; // Nivel de batería\nconst sensorId = sensorData.id; // ID del sensor\n\n// Define los límites para glucosa y batería\nconst glucoseSafeRange = { min: 70, max: 180 }; // Rango seguro para glucosa\nconst batterySafeLevel = 20; // Nivel mínimo aceptable de batería\n\n// Determinar si hay alarmas\nlet alerts = [];\nif (glucose < glucoseSafeRange.min || glucose > glucoseSafeRange.max) {\n    alerts.push(`⚠️ *Nivel de Glucosa fuera de rango:* ${glucose}`);\n}\nif (battery < batterySafeLevel) {\n    alerts.push(`⚠️ *Batería baja:* ${battery}%`);\n}\n\n// Generar mensaje de alerta\nlet alertMessage = alerts.length > 0 ? alerts.join('\\n') : \"✅ Todos los valores están dentro del rango seguro.\";\n\nmsg.payload = {\n    chatId: \"7569490995\", // Chat ID de Telegram\n    type: \"message\",\n    content: `🔔 *Alerta de Sensor*\\n\\n📡 Sensor ID: ${sensorId}\\n📊 Nivel de Glucosa: ${glucose}\\n🔋 Batería: ${battery}%\\n\\n${alertMessage}`\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1820,
        "wires": [
            [
                "e1ba95a1c7f1d568"
            ]
        ]
    },
    {
        "id": "d02579649e414ba8",
        "type": "telegram receiver",
        "z": "92d8fd98132b13ea",
        "name": "Mensaje Telegram",
        "bot": "2bc450449f3a8cef",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 850,
        "y": 1820,
        "wires": [
            [
                "a81ff16e514fd24e"
            ],
            []
        ]
    },
    {
        "id": "a81ff16e514fd24e",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1820,
        "wires": []
    },
    {
        "id": "e1ba95a1c7f1d568",
        "type": "telegram sender",
        "z": "92d8fd98132b13ea",
        "name": "",
        "bot": "2bc450449f3a8cef",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "f99757692a40b92e",
        "type": "function",
        "z": "92d8fd98132b13ea",
        "name": "function 2",
        "func": "// Generar un valor de glucosa aleatorio entre 70 y 180 (rango típico)\nconst glucoseLevel = Math.floor(Math.random() * (180 - 70 + 1)) + 70;\n\n// Generar un nivel de batería aleatorio entre 10% y 100%\nconst batteryLevel = Math.floor(Math.random() * (100 - 10 + 1)) + 10;\n\n// Crear el mensaje simulado para el sensor\nmsg.payload = {\n    id: \"urn:ngsi-ld:Sensor:001\", // ID del sensor\n    glucoseLevel: glucoseLevel,   // Nivel de glucosa\n    battery: batteryLevel         // Nivel de batería\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2360,
        "wires": [
            [
                "ce518ccb603d34b1"
            ]
        ]
    },
    {
        "id": "6ede698f8a449834",
        "type": "switch",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 2340,
        "wires": [
            [
                "e76cbaf6d39e4e75"
            ],
            [
                "09f89153032b1f2e"
            ]
        ]
    },
    {
        "id": "09f89153032b1f2e",
        "type": "json",
        "z": "92d8fd98132b13ea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 2380,
        "wires": [
            [
                "e76cbaf6d39e4e75"
            ]
        ]
    },
    {
        "id": "e76cbaf6d39e4e75",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "delete subscription",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 2320,
        "wires": []
    },
    {
        "id": "aba63769c8c81ec9",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor001",
                "vt": "str"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 2360,
        "wires": [
            [
                "f99757692a40b92e"
            ]
        ]
    },
    {
        "id": "ce518ccb603d34b1",
        "type": "http request",
        "z": "92d8fd98132b13ea",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{iota_ip}}}:{{{iota_puerto_datos}}}/iot/json?k={{{api_key}}}&i={{{device_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 530,
        "y": 2340,
        "wires": [
            [
                "6ede698f8a449834"
            ]
        ]
    },
    {
        "id": "c495a03218c8e1e0",
        "type": "inject",
        "z": "92d8fd98132b13ea",
        "name": "execute request",
        "props": [
            {
                "p": "iota_ip",
                "v": "iota_ip",
                "vt": "flow"
            },
            {
                "p": "iota_puerto_datos",
                "v": "iota_puerto_datos",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "api_key",
                "v": "api_key",
                "vt": "flow"
            },
            {
                "p": "device_id",
                "v": "sensor001",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"glucose_001\":0,\"battery_001\":50}",
        "payloadType": "json",
        "x": 120,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "8437d3e1ac55968d",
        "type": "debug",
        "z": "92d8fd98132b13ea",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2480,
        "wires": []
    },
    {
        "id": "5675bfe9d2cea6cb",
        "type": "function",
        "z": "92d8fd98132b13ea",
        "name": "Valores aleatorios",
        "func": "// Determinar el rango de glucosa basado en probabilidades\nlet glucoseLevel;\nconst glucoseChance = Math.random();\n\nif (glucoseChance < 0.7) {\n    // 70% de probabilidad de estar dentro del rango típico (80-180)\n    glucoseLevel = Math.random() < 0.5 \n        ? Math.floor(Math.random() * (130 - 80 + 1)) + 80  // Ayunas (80-130)\n        : Math.floor(Math.random() * (180 - 130 + 1)) + 130; // Después de comer (130-180)\n} else {\n    // 30% de probabilidad de estar fuera del rango típico (190-250)\n    glucoseLevel = Math.floor(Math.random() * (250 - 190 + 1)) + 190;\n}\n\n// Generar el nivel de batería\nlet batteryLevel;\nconst batteryChance = Math.random();\n\nif (batteryChance < 0.8) {\n    // 80% de probabilidad de estar en un rango normal (20-100)\n    batteryLevel = Math.floor(Math.random() * (100 - 20 + 1)) + 20;\n} else {\n    // 20% de probabilidad de estar en un rango crítico (5-19)\n    batteryLevel = Math.floor(Math.random() * (19 - 5 + 1)) + 5;\n}\n\n// Crear el mensaje simulado para el sensor\nmsg.payload = {\n    glucose_001: glucoseLevel,\n    battery_001: batteryLevel\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "a979b20a7b5672ec"
            ]
        ]
    },
    {
        "id": "51ed3345ee58e0a7",
        "type": "function",
        "z": "92d8fd98132b13ea",
        "name": "Valores aleatorios",
        "func": "// Determinar el rango de glucosa basado en probabilidades\nlet glucoseLevel;\nconst glucoseChance = Math.random();\n\nif (glucoseChance < 0.7) {\n    // 70% de probabilidad de estar dentro del rango típico (80-180)\n    glucoseLevel = Math.random() < 0.5 \n        ? Math.floor(Math.random() * (130 - 80 + 1)) + 80  // Ayunas (80-130)\n        : Math.floor(Math.random() * (180 - 130 + 1)) + 130; // Después de comer (130-180)\n} else {\n    // 30% de probabilidad de estar fuera del rango típico (190-250)\n    glucoseLevel = Math.floor(Math.random() * (250 - 190 + 1)) + 190;\n}\n\n// Generar el nivel de batería\nlet batteryLevel;\nconst batteryChance = Math.random();\n\nif (batteryChance < 0.8) {\n    // 80% de probabilidad de estar en un rango normal (20-100)\n    batteryLevel = Math.floor(Math.random() * (100 - 20 + 1)) + 20;\n} else {\n    // 20% de probabilidad de estar en un rango crítico (5-19)\n    batteryLevel = Math.floor(Math.random() * (19 - 5 + 1)) + 5;\n}\n\n// Crear el mensaje simulado para el sensor\nmsg.payload = {\n    glucose_002: glucoseLevel,\n    battery_002: batteryLevel\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "32dbbe4b64bcb3df"
            ]
        ]
    },
    {
        "id": "8478081292e8f75a",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "flow variables",
        "props": [
            {
                "p": "orion_ip",
                "v": "68.221.171.63",
                "vt": "str"
            },
            {
                "p": "orion_puerto",
                "v": "1026",
                "vt": "str"
            },
            {
                "p": "fiware_service",
                "v": "health_monitor",
                "vt": "str"
            },
            {
                "p": "fiware_servicepath",
                "v": "/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "c4ae7c4d8859dada"
            ]
        ]
    },
    {
        "id": "c4ae7c4d8859dada",
        "type": "change",
        "z": "7054fec8bee5107d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orion_ip",
                "pt": "flow",
                "to": "orion_ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "orion_puerto",
                "pt": "flow",
                "to": "orion_puerto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_service",
                "pt": "flow",
                "to": "fiware_service",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fiware_servicepath",
                "pt": "flow",
                "to": "fiware_servicepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f87742103c22f6",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "e62757f60f8d3c2c"
            ]
        ]
    },
    {
        "id": "2e4d60ebdee5e648",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "32b4139a92f2c460"
            ]
        ]
    },
    {
        "id": "32b4139a92f2c460",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "orion version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "682ca218903955cf",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Check orion version",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "e62757f60f8d3c2c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{orion_ip}}}:{{{orion_puerto}}}/version",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "2e4d60ebdee5e648"
            ]
        ]
    },
    {
        "id": "76dec3080a64dc12",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Entities",
        "info": "",
        "x": 110.00000381469727,
        "y": 344.00000953674316,
        "wires": []
    },
    {
        "id": "d21a6f6bcdf470ba",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entities",
        "info": "",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "30be064efcb14deb",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "1af99b4c98de8c0c"
            ]
        ]
    },
    {
        "id": "1af99b4c98de8c0c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "dc85eb069a6a3d69"
            ]
        ]
    },
    {
        "id": "dc85eb069a6a3d69",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "e75be13027181133"
            ]
        ]
    },
    {
        "id": "e75be13027181133",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entities",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "b4a9d1c78508b72f",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Delete entity",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "733b944ba9b0bc95",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Lamp:001",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "9b18efd711f33d37"
            ]
        ]
    },
    {
        "id": "9b18efd711f33d37",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "8daaa12956f641b6"
            ]
        ]
    },
    {
        "id": "6bdd20aaf07f69c1",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "6f053ac64b5daac7"
            ]
        ]
    },
    {
        "id": "6f053ac64b5daac7",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "delete entity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "8daaa12956f641b6",
        "type": "switch",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "6f053ac64b5daac7"
            ],
            [
                "6bdd20aaf07f69c1"
            ]
        ]
    },
    {
        "id": "02ea57af251f1453",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Entity attributes",
        "info": "",
        "x": 140,
        "y": 760,
        "wires": []
    },
    {
        "id": "1d9d726deb905f8d",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entity attribute: all",
        "info": "",
        "x": 200,
        "y": 800,
        "wires": []
    },
    {
        "id": "f41f1ebdd8610bf4",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Sensor:001",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "9de147ce6994653c"
            ]
        ]
    },
    {
        "id": "9de147ce6994653c",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 840,
        "wires": [
            [
                "9b42f963c4d62f5d"
            ]
        ]
    },
    {
        "id": "9b42f963c4d62f5d",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 840,
        "wires": [
            [
                "b597fe798f1f88dd"
            ]
        ]
    },
    {
        "id": "b597fe798f1f88dd",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entity attribute: all",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 840,
        "wires": []
    },
    {
        "id": "4cdb27e29c6be2d8",
        "type": "comment",
        "z": "7054fec8bee5107d",
        "name": "Get entity attribute: on",
        "info": "",
        "x": 200,
        "y": 920,
        "wires": []
    },
    {
        "id": "b61e5a09fce7be13",
        "type": "inject",
        "z": "7054fec8bee5107d",
        "name": "execute request",
        "props": [
            {
                "p": "orion_ip",
                "v": "orion_ip",
                "vt": "flow"
            },
            {
                "p": "orion_puerto",
                "v": "orion_puerto",
                "vt": "flow"
            },
            {
                "p": "fiware_service",
                "v": "fiware_service",
                "vt": "flow"
            },
            {
                "p": "fiware_servicepath",
                "v": "fiware_servicepath",
                "vt": "flow"
            },
            {
                "p": "entity_id",
                "v": "urn:ngsi-ld:Sensor:001",
                "vt": "str"
            },
            {
                "p": "attr",
                "v": "glucose",
                "vt": "str"
            },
            {
                "p": "oauth2-token",
                "v": "oauth2-token",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "287761bfbe953e9a"
            ]
        ]
    },
    {
        "id": "287761bfbe953e9a",
        "type": "http request",
        "z": "7054fec8bee5107d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{orion_ip}}}:{{{orion_puerto}}}/v2/entities/{{{entity_id}}}/attrs/{{{attr}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Fiware-Service",
                "valueType": "msg",
                "valueValue": "fiware_service"
            },
            {
                "keyType": "other",
                "keyValue": "Fiware-ServicePath",
                "valueType": "msg",
                "valueValue": "fiware_servicepath"
            },
            {
                "keyType": "other",
                "keyValue": "X-Auth-token",
                "valueType": "msg",
                "valueValue": "oauth2-token"
            }
        ],
        "x": 410,
        "y": 960,
        "wires": [
            [
                "de6f6f7b709321d4"
            ]
        ]
    },
    {
        "id": "de6f6f7b709321d4",
        "type": "json",
        "z": "7054fec8bee5107d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 960,
        "wires": [
            [
                "0193fa992c255b5d"
            ]
        ]
    },
    {
        "id": "0193fa992c255b5d",
        "type": "debug",
        "z": "7054fec8bee5107d",
        "name": "get entity attribute: on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 960,
        "wires": []
    }
]